
heading {
    display: flex;
    justify-content: space-around;
    font-size: 70px;
    background-color: purple;
    border: 2px solid black;
    border-radius: 30px;
    position: fixed;
    
} 

body {
    background-image: url("https://c1.staticflickr.com/4/3108/4562677552_20f1fda8f2_z.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 15px;
}

.nav {
    width: 100%;
    height: 50px;
    background-color: blue;
    position: fixed;
}



.shopButton {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.shopButton:hover {
    background-color: lightgreen;
}

.saleButton {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.saleButton:hover {
    background-color: lightgreen;
}

.cartButton {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.cartButton:hover {
    background-color: lightgreen;
}

.content {
  padding-top: 40px;
}


.image {
  display: flex;
  justify-content: space-between;
}