
heading {
    display: flex;
    justify-content: space-around;
    font-size: 70px;
    background-color: purple;
    border: 2px solid black;
    border-radius: 30px;
    position: fixed;
    size: auto;
} 

body {
    background-color: rgb(255, 230, 234);
}

.nav {
    width: 100%;
    height: 50px;
    background-color: blue;
    position: fixed;
}



.shopButton {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.shopButton:hover {
    background-color: lightgreen;
}


.shopButtonDrop {
    position: relative;
    display: inline-block;
}

.shopButtonDrop-content {
    display: none;
    position: absolute;
    background-color: orange;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.shopButtonDrop-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#myDropdown {
    display: none;
}

#myDropdown.show {
    display: block;
}

.saleButton {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.saleButton:hover {
    background-color: lightgreen;
}

.cartButton {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.cartButton:hover {
    background-color: lightgreen;
}

.content {
  padding-top: 40px;
}


.image {
  display: flex;
  justify-content: space-between;
}